body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style-type: none;
}

/*header*/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.top-banner {
    width: 100%; height: 32px;
    display: flex ;
    flex-direction: row;
}

.container {
    display: block ;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 00.75rem;
    margin-right: auto;
    margin-left: auto;
}

.social-media {
    justify-content: flex-end;
}


/*navigation items*/

.nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem;
    font-size: inherit;
    font-weight: inherit;
    color: #2F349F;
    text-decoration: none;
    text-align: inherit;
    list-style: none;
}

.nav-link-icon {
    display:block;
    padding: 5px;
    width: 24px; height: 24px;
    list-style: none;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    background-color: #EBEFF2; 
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    display: flex ;
    flex-direction: row;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
    color: #2F349F;
    height: 48px;
}


/*Dropdown Menus*/
.dropdown-menu {
    position: absolute;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1em;
    color: inherit;
    text-align: left;
    list-style: none;
    background-color: #EBEFF2;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: #343638;
}

.dropdown-toggle {
    white-space: nowrap;
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown-toggle:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    display: block;
    width: inherit;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: inherit;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

/*Search fields*/

.header-search-bar {
    padding: inherit;
}

.header-search-bar input {
    width: fit-content;
    border-radius: 18px;
}

.header-search-bar input[type=text] {
    padding: inherit;
    border: none;
    font-size: 18px;
    background-color: white;
    color: #2F349F;
    padding: 10px 10px;
}

.header-search-bar input[type=text] :focus {
    border: 1px solid #2F349F;
    padding: 10px 10px;
}

.header-search-bar ::placeholder {
    color: #2F349F;
    opacity: 60%;
    font-size: 18px;
    padding: 5px;
}


/*footer*/

/*top half of footer containing details and links*/
.footer-top {
    background-color: #EBEFF2;
    width: 100%;
    height: 310px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.footer-logo {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer-heading {
    color: #343638;
    font-weight: bold;
    text-transform:uppercase;
    padding-bottom: 1em;
    padding-top: 1em;
}

.footer-description {
    color: #343638;
    width: 180px;
}

.footer-social {
    display: flex;
    flex-direction: row;
    padding-left: 0%;
    padding-top: 4em;
}

.footer-social-icons {
    height: 32px;
    width: 32px;
    padding-left: 0px;
    padding-right: 10px;
}

.footer-link {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.appstores {
    display: flex;
    flex-direction: column;
    width: 180px;
    vertical-align: middle;
}

.appstore-link {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.footer-nav {
    width: 180px;
}

/*bottom of footer showing copyright information*/
.footer-bottom {
    background-color: #343638;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    padding: 2px;
    font-size: 16px;
}

