body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding-inline-start: 40px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*header*/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.container {
    display: block ;
    width: 100%;
}

.container-header {
    background-color: #f8f9fa;
    margin: 0px;
}


/*navigation items*/

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem;
    font-size: 18px;
    font-weight: inherit;
    color: #2F349F;
    text-decoration: none;
    text-align: inherit;
    list-style: none;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    background-color: #EBEFF2; 
    align-items: center;
    height: 64px;
    justify-content: space-between;
}

.navbar-nav {
    display: flex ;
    flex-direction: row;
}

.navbar-brand {
    padding-top: inherit;
    padding-bottom: inherit;
    font-size: 1.25rem;
    white-space: nowrap;
    color: #2F349F;
    height: 32px;
}


/*Dropdown Menus*/
.dropdown-menu {
    position: absolute;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1em;
    color: inherit;
    text-align: left;
    list-style: none;
    background-color: #EBEFF2;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: #343638;
}

.dropdown-toggle {
    white-space: nowrap;
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown-toggle:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    display: block;
    width: inherit;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    font-size: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

/*Search fields*/

.header-search-bar {
    padding: inherit;
}

.header-search-bar input {
    width: fit-content;
    border-radius: 18px;
}

.header-search-bar input[type=text] {
    padding: inherit;
    border: none;
    font-size: 18px;
    width: 250px;
    background-color: white;
    color: #2F349F;
    padding: 10px 10px;
}

.header-search-bar input[type=text] :focus {
    border: 1px solid #2F349F;
    padding: 10px 10px;
}

.header-search-bar ::placeholder {
    color: #2F349F;
    opacity: 60%;
    font-size: 18px;
    padding: 5px;
}


/* Pop-Ups */


/* Login In Pop Up */
/* The Pop Up */
.login {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1;
    left: 75%;
    top: 64px;
    width: 20%;
    height: auto; 
    overflow: auto; 
    background-color: #EBEFF2; /* Fallback color */
    border-radius: 5px;
}
  
/* Pop Up Content */

input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}





/*footer*/

/*top half of footer containing details and links*/
.footer-top {
    background-color: #EBEFF2;
    width: 100%;
    height: 310px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.footer-logo {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer-heading {
    color: #343638;
    font-weight: bold;
    text-transform:uppercase;
    padding-bottom: 1em;
    padding-top: 1em;
}

.footer-description {
    color: #343638;
    width: 180px;
}

.footer-social {
    display: flex;
    flex-direction: row;
    padding-left: 0%;
    padding-top: 4em;
}

.footer-social-icons {
    height: 32px;
    width: 32px;
    padding-left: 0px;
    padding-right: 10px;
}

.footer-link {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.appstores {
    display: flex;
    flex-direction: column;
    width: 180px;
    vertical-align: middle;
}

.appstore-link {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.footer-nav {
    width: 180px;
}

/*bottom of footer showing copyright information*/
.footer-bottom {
    background-color: #343638;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    padding: 2px;
    font-size: 16px;
}

